* {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*Header*/
.coffee-header {
	height: 200px;
	background: rgb(225,0,0) url('../images/BeansSmaller.jpeg') center;
	background-size: cover;
	clear: both;
}

.coffee-header h1 {
	vertical-align: middle;
}

header h1 {
	margin-left: 1%;
	float: left;
	margin-top: 50px;
}

#address {
	color:#fff;
	float: right;
	text-align: right;
	margin-right: 1%;
	font-size: 1.5em;
	vertical-align: middle;
}


/*Body*/
body {
	margin: 0;
	background: rgb(192,192,192);
}

a {
	color: #fff;
	text-decoration: none;
}

nav ul {
	margin:0;
	padding:0;
	list-style: none;
}

nav li {
	border-color: #000;
	border-style: outset;
	border-width: thick;
}

nav a {
	display:block;
	padding-top:10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.75em;	
	background: rgb(16,16,16);
}

#navBar {
	display: block;
	float: left;
  	width: 20%;
  	color: #fff;
  	background: #000;
  	/*position: fixed;*/
  	/*margin-top: 200px;*/
  	/*margin-bottom: 100px;*/
}

nav li:hover {
	border-color: #000;
	border-width: thick;
	border-style: inset;
}

nav li:hover a {
	color: rgb(225,0,0);
}

.selected {
	border-style: inset;
	border-width: thick;
}

.selected a {
	color: rgb(255,0,0);
}

/*Content Home*/
.content {
	display: block;
	float: left;
	width: 80%;
	padding-bottom: 2%;
}

/*.content div {
	background-color: rgb(0,255,0);
}*/

.content p {
	display: block;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 3%;
	font-size: 1.5em;
	text-align: right;
	color: #000;
}

.news {
	margin-top: 1%;
	margin-right: 3%;
	margin-left: 3%;
	display: block;
	float: right;
	width: 200px;
	border-radius: 20px;
	clear: right;
}

#art {
	margin-top: 4%;
	margin-bottom: 4%;
}

/*.content div:nth-child(even) {
	background-color: rgb(255,0,0);
}*/

.content div:nth-child(even) .news {
	float: left;
}

.content div:nth-child(even) p {
	text-align: left;
}

/*Content Menu*/

.menuBoard {
	background-color: rgb(160,160,160);
	border-radius: 10px;
	width: 35%;
	float: left;
	margin: 2%;
	text-align: left;
}

.drink {
	list-style: none;
	display: float;
	float: left;
}

.price {
	list-style: none;
	display: float;
	text-align: right;
	float: right;
}

#flavors{
	width: 74%;
}

.menuBoard h2 {
	text-align: center;
}

.menuBoard h3 {
	clear: both;
	text-align: center;
}

/*Content Staff*/

#baristas div {
	height: 225px;
}

#overlay {
  background: rgba(0,0,0,0.9);
  width: 120%;
  height: 100%;
  position: absolute;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 5%;
  margin-right: 5%;
  display: block;
  float: right;
}

#overlay p {
  color: #fff;
  margin-top: 5%;
  margin-left: 5%;
  background-color: rgb(16,16,16);
  display: block;
  float: left;
}

/*Footer*/
.coffee-footer {
	height: 100px;
	background: rgb(225,0,0) url('../images/BeansSmaller.jpeg') center;
	background-size: cover;
	clear: both;
}

#hours {
	margin-left: 1%;
	color:#fff;
	float: left;
	text-align: left;
	margin-right: 1%;
	font-size: 1.2em;
}

.socMedia {
	margin-left: 45%;
}

.socMedia img {
	display: inline;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.socMedia p {
	font-size: 1.3em;
	display: inline;
	vertical-align: middle;
}