/*Header*/
.coffee-header {
	padding-top: 50px;
	height: 150px;
	background: rgb(225,0,0) url('../images/BeansSmaller.jpeg') center;
	background-size: cover;
	clear: both;
}

header h1 {
	margin-left: 1%;
	float: left;
}

#hours {
	color:#fff;
	float: right;
	text-align: right;
	margin-right: 1%;
	font-size: 1.5em;
}


/*Body*/
body {
	margin: 0;
	background: rgb(192,192,192);
}

a {
	color: #fff;
	text-decoration: none;
}

nav ul {
	margin:0;
	padding:0;
	list-style: none;
}

nav li {
	border-color: #000;
	border-style: outset;
	border-width: thick;
}

nav a {
	display:block;
	padding-top:10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.75em;	
	background: rgb(16,16,16);
}

#navBar {
	display: block;
	float: left;
  	width: 20%;
  	color: #fff;
  	background: #000;
}

nav li:hover {
	border-color: #000;
	border-width: thick;
	border-style: inset;
}

nav li:hover a {
	color: rgb(225,0,0);
}

.selected {
	border-style: inset;
	border-width: thick;
}

.selected a {
	color: rgb(255,0,0);
}

/*Content*/
#content {
	display: block;
	float: left;
	width: 80%;
}

#content p {
	display: block;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 3%;
	font-size: 1.5em;
	text-align: right;
	color: #000;
}

.news {
	/*margin: 3%;*/
	margin-top: 1%;
	margin-right: 3%;
	margin-left: 3%;
	display: block;
	float: right;
	width: 200px;
	border-radius: 20px;
	clear: right;
}

#art {
	margin-top: 4%;
	margin-bottom: 4%;
}

#content div:nth-child(even) .news {
	float: left;
}

#content div:nth-child(even) p {
	text-align: left;
}

/*Footer*/
.coffee-footer {
	height: 100px;
	background: rgb(225,0,0) url('../images/BeansSmaller.jpeg') center;
	background-size: cover;
	clear: both;
}

#address {
	margin-left: 1%;
	color:#fff;
	float: left;
	text-align: left;
	margin-right: 1%;
	font-size: 1.2em;
}

.socMedia {
	margin-left: 45%;
	margin-top: 10px;
}

.socMedia img {
	display: inline;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.socMedia p {
	font-size: 1.3em;
	display: inline;
	vertical-align: middle;
}